<div class="row btn-page">
  <div class="col-sm-12">
      <div class="row">
        <ng-container *ngIf="loading==false">

              <!-- Bannerscount start -->
<!-- statistic start -->
<div class="col-md-6 col-lg-4">
  <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-blue border-0">
    <h5 class="text-left">Total Banners</h5>
    <span class="d-block text-c-blue f-36">{{countdata.total}}</span>
    <p class="m-b-0">Total</p>
    <div class="app-card-footer">
    </div>
  </app-card>
</div>
<div class="col-md-6 col-lg-4">
  <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-green border-0">
    <h5 class="text-left">Active Banners</h5>
    <span class="d-block text-c-green f-36">{{countdata.active}}</span>
    <p class="m-b-0">Total</p>
    <div class="app-card-footer">
    </div>
  </app-card>
</div>
<div class="col-md-6 col-lg-4">
  <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-red border-0">
    <h5 class="text-left">Inactive Banners</h5>
    <span class="d-block text-c-red f-36">{{countdata.inactive}}</span>
    <p class="m-b-0">Total</p>
    <div class="app-card-footer">
    </div>
  </app-card>
</div>
</ng-container>
<!-- statistic end -->

<!-- Bannerscount end -->

<!-- statistic end -->
<ng-container *ngIf="loading==true">
  <!-- Bannerscount start -->
<!-- statistic start -->
<div class="col-md-6 col-lg-4" *ngFor="let x of [0,1,2]">
<app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-blue border-0">
<h5 class="text-left"> <div class="item" style="width:40%"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div></h5>
<span class="d-block text-c-blue f-36"> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div></span>
<div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
<div class="app-card-footer">
</div>
</app-card>
</div>

</ng-container>

<!-- statistic end -->

            </div>
  </div>
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject.show(); type='add';"><i class="feather icon-plus"></i> Add Banner</button>
        </div>
        <app-ui-modal #modalProject>
          <div class="app-modal-header"  *ngIf="type=='add'">
            <h5 class="modal-title">Enter Banner Details</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body"  *ngIf="type=='add'">
          
            <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lendername">Banner name </label> 
                    <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Banner name" [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}" #lendername="ngModel" required lendername [(ngModel)]="formInput.lendername">
                    <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the name.</label>
                  </div>
                </div>
                 <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="pid">Position id </label> 
                    <input class="form-control input-md" id="text" name="pid" type="text" placeholder="Enter position id" [ngClass]="{'is-invalid': !pid.valid && (pid.dirty || pid.touched || isSubmit)}" #pid="ngModel" required pid [(ngModel)]="formInput.pid">
                    <label *ngIf="!pid.valid && (pid.dirty || pid.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the position id.</label>
                  </div>
                </div>  -->
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="loanamount">Loan Amount </label> 
                    <input class="form-control input-md" id="text" name="loanamount" type="text" placeholder="Enter loan Amount" [ngClass]="{'is-invalid': !loanamount.valid && (loanamount.dirty || loanamount.touched || isSubmit)}" #loanamount="ngModel" required loanamount [(ngModel)]="formInput.loanamount">
                    <label *ngIf="!loanamount.valid && (loanamount.dirty || loanamount.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the loan Amount.</label>
                  </div>
                </div> 
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="from">Interest from </label> 
                    <input class="form-control input-md" id="from" name="from" type="text" placeholder="Enter Interest" [ngClass]="{'is-invalid': !from.valid && (from.dirty || from.touched || isSubmit)}" #from="ngModel" required from [(ngModel)]="formInput.from">
                    <label *ngIf="!from.valid && (from.dirty || from.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Interest Range.</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="to">Interest to </label> 
                    <input class="form-control input-md" id="to" name="to" type="text" placeholder="Enter interest range" [ngClass]="{'is-invalid': !to.valid && (to.dirty || to.touched || isSubmit)}" #to="ngModel"  to [(ngModel)]="formInput.to">
                    <label *ngIf="!to.valid && (to.dirty || to.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Interest Range.</label>
                  </div>
                </div> 
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Fees">Fees Range </label> 
                    <input class="form-control input-md" id="text" name="Fees" type="text" placeholder="Enter fees range" [ngClass]="{'is-invalid': !fees.valid && (fees.dirty || fees.touched || isSubmit)}" #fees="ngModel" required fees [(ngModel)]="formInput.fees">
                    <label *ngIf="!fees.valid && (fees.dirty || fees.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the position id.</label>
                  </div>
                </div> 
                 <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="link">Url</label> 
                    <input class="form-control input-md" id="text" name="link" type="text" placeholder="Enter thr URL" [ngClass]="{'is-invalid': !link.valid && (link.dirty || link.touched || isSubmit)}" #link="ngModel" required link [(ngModel)]="formInput.link">
                    <label *ngIf="!link.valid && (link.dirty || link.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the url.</label>
                  </div>
                </div>    -->
             
                                  <div class="col-md-12">
                  <div class="form-group">
                    <!-- <file-upload simple [control]="fileUploadControl"  [(ngModel)]="uploadedFiles" formControlName="files"></file-upload> -->
                    <file-upload accept="image/*"  [(ngModel)]="uploadedFiles" name="files" simple></file-upload>

                  </div>
                </div>  


          

     
               
         
             
                 
             
               
              </div>
              <!-- <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div> -->
              <hr>
              <div class="row align-items-center m-l-0" >
                <div class="col-sm-6 text-left">
                 
                            </div>
                <div class="col-sm-6 text-right">
                  <div class="custom-control custom-switch">
                    <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="addlender(validationForm)"> Add  <div style="zoom:0.7;" class="spinner-border" *ngIf="buttonloading"  role="status"></div></button>
          
                  </div>
                </div>
              </div>
          </form>
           
         
          </div> 

                  <!--  Update modal start -->
                  <div class="app-modal-header"  *ngIf="type=='update'">
                    <h5 class="modal-title">Update Banner Details</h5>
                    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
                  </div>
           <div class="app-modal-body" *ngIf="type=='update'">
          
            <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lendername">Banner Name </label> 
                    <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Banner name" [ngClass]="{'is-invalid': !lendername.valid && (lendername.dirty || lendername.touched || isSubmit)}" #lendername="ngModel" required lendername [(ngModel)]="formInput2.lendername">
                    <label *ngIf="!lendername.valid && (lendername.dirty || lendername.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the name.</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="loanamount">Loan Amount </label> 
                    <input class="form-control input-md" id="text" name="loanamount" type="text" placeholder="Enter loan Amount" [ngClass]="{'is-invalid': !loanamount.valid && (loanamount.dirty || loanamount.touched || isSubmit)}" #loanamount="ngModel" required loanamount [(ngModel)]="formInput2.loanamount">
                    <label *ngIf="!loanamount.valid && (loanamount.dirty || loanamount.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the loan Amount.</label>
                  </div>
                </div> 
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="from">Interest from </label> 
                    <input class="form-control input-md" id="from" name="from" type="text" placeholder="Enter interest range" [ngClass]="{'is-invalid': !from.valid && (from.dirty || from.touched || isSubmit)}" #from="ngModel" required from [(ngModel)]="formInput2.from">
                    <label *ngIf="!from.valid && (from.dirty || from.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Interest Range.</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-control-label" for="to">Interest to </label> 
                    <input class="form-control input-md" id="to" name="to" type="text" placeholder="Enter interest range" [ngClass]="{'is-invalid': !to.valid && (to.dirty || to.touched || isSubmit)}" #to="ngModel"  to [(ngModel)]="formInput2.to">
                    <label *ngIf="!to.valid && (to.dirty || to.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Interest Range.</label>
                  </div>
                </div> 
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="fees">Fees Range </label> 
                    <input class="form-control input-md" id="text" name="fees" type="text" placeholder="Enter fees range" [ngClass]="{'is-invalid': !fees.valid && (fees.dirty || fees.touched || isSubmit)}" #fees="ngModel" required fees [(ngModel)]="formInput2.fees">
                    <label *ngIf="!fees.valid && (fees.dirty || fees.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the fees Range..</label>
                  </div>
                </div> 
                 <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="pid">Position id </label> 
                    <input class="form-control input-md" id="text" name="pid" type="text" placeholder="Enter position id" [ngClass]="{'is-invalid': !pid.valid && (pid.dirty || pid.touched || isSubmit)}" #pid="ngModel" required pid [(ngModel)]="formInput2.pid">
                    <label *ngIf="!pid.valid && (pid.dirty || pid.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the position id.</label>
                  </div>
                </div>   -->
                 <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="link">Url</label> 
                    <input class="form-control input-md" id="text" name="link" type="text" placeholder="Enter thr URL" [ngClass]="{'is-invalid': !link.valid && (link.dirty || link.touched || isSubmit)}" #link="ngModel" required link [(ngModel)]="formInput2.link">
                    <label *ngIf="!link.valid && (link.dirty || link.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the url.</label>
                  </div>
                </div>    -->
             
                                  <div class="col-md-12">
                  <div class="form-group">
                    <!-- <file-upload simple [control]="fileUploadControl"  [(ngModel)]="uploadedFiles" formControlName="files"></file-upload> -->
                    <file-upload accept="image/*" [(ngModel)]="uploadedFiles2" name="files" simple></file-upload>

                  </div>
                </div>  </div>
              <!-- <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div> -->
              <hr>
              <div class="row align-items-center m-l-0" >
                <div class="col-sm-6 text-left">
                 
                            </div>
                <div class="col-sm-6 text-right">
                  <div class="custom-control custom-switch">
                    <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="updatelender(validationForm)"> Update  <span style="margin-left:10px;"><i class="feather icon-plus"></i></span></button>
          
                  </div>
                </div>
              </div>
          </form>
                   <!--  Update modal end  -->

         
          </div>
        </app-ui-modal>


        
        
      </div>
      <div class="table-responsive" *ngIf="!loading">
        <table  [dtOptions]="dtExportButtonOptions"  datatable  id="report-table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <!-- <th>P Id</th> -->
            <th>Name</th>
            <th>Image</th>
            <th>Loan Amount</th>
            <th>Interest Range </th>
            <th>Fees Range</th>
            <th>Status</th>
            <th>Action</th>
            
          </tr> 
          </thead>
          <tbody>
          <tr *ngFor="let x of tabledata; let i = index;">
            <td>{{x.id}}</td>
            <!-- <td>{{x.pid}}</td> -->
            <td>{{x.name}} </td>
            <td style="background-color:rgba(183, 158, 190, 0.295)"><img    src="http://13.126.161.129/smebackend{{x.image}}" alt="" class="img-fluid" style="margin-left:auto; margin-right: auto; display:block; max-width: 50% !important; max-height:40px !important"></td>
            <td>{{x.loanamount}} </td>
            <td>{{x.from}}% to {{x.to}}% </td>
            <td>{{x.feerange}} </td>
            <td>
              <div class="custom-control custom-switch">
                <input type="checkbox" checked *ngIf="x.status =='active' && statusloading[x.id]!=1"  (click)="chnagestatus(x.id,'inactive')" class="custom-control-input" id="{{x.id+'switch'}}">
                <input type="checkbox"   *ngIf="x.status =='inactive'  && statusloading[x.id]!=1"   (click)="chnagestatus(x.id,'active')" class="custom-control-input" id="{{x.id+'switch'}}">
                <div style="zoom:0.7; margin-left:-55px !important;" class="spinner-border" *ngIf="statusloading[x.id]==1" role="status">
                </div>
                <label  *ngIf="statusloading[x.id]!=1" class="custom-control-label" for="{{x.id+'switch'}}"></label>
              </div>
            </td>
            <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green" (click)="openupdate(i);" ngbTooltip="Edit the  banner"></i></a><a href="javascript:"><i (click)="deleteconfirm(x.id)" ngbTooltip="Delete the banner"  class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>

          </tr>


    


 
        
          </tbody>
        </table>
      </div>  
          <div class="table-responsive" *ngIf="loading==true">
        <table  [dtOptions]="dtExportButtonOptions"  datatable  id="report-table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>P Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>URL</th>
            <th>Status</th>
            <th>Action</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of [0,1,2,3,4,5,7]; let i = index;">
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>
            <td> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>   </td>

         
          </tr>


    


 
        
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<ng2-toasty [position]="global.position"></ng2-toasty>
