<ng-container>
  <div class="col-sm-12" style="position:fixed; bottom:0; left:0; width:100%; z-index: 9999999;"
    *ngIf="newselected.length>0">

    <!-- <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 " *ngIf="newselected.length>0" blockClass="d-flex justify-content-between align-items-center">
       dswdusdewd ds
        </app-card> -->
    <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none"
      blockClass="d-flex justify-content-between align-items-center">
      <span class="text-white d-flex justify-content-center align-items-center" style="font-weight:800;"><i
          class="fa fa-check-circle text-c-blue f-22 m-r-5"></i>{{newselected.length}} Lead selected</span>
      <!-- <span class="text-white d-flex justify-content-center align-items-center" style="font-weight:800;"><span><i class="fa fa-user-plus text-c-green f-22 m-r-5"></i>Assign </span><span (click)="deleteconfirm()" > &nbsp; &nbsp; <i class="fa fa-trash-alt text-c-red f-22 m-r-5"></i>Delete </span></span> -->
      <span class="text-white d-flex justify-content-center align-items-center" style="font-weight:800;"><span
          (click)="deleteconfirm()"> &nbsp; &nbsp; <i class="fa fa-trash-alt text-c-red f-22 m-r-5"></i>Delete
        </span></span>
      <h6 class="badge badge-light-danger float-right d-inline-block m-0">Close</h6>
    </app-card>

  </div>
  <div class="row btn-page">
    <div class="col-sm-12" *ngIf="loading==false">
      <app-card cardTitle="Projects Summary" [options]="false">
        <div class="row">
          <div class="col-md-2 col-xs-6 border-right">
            <h3>{{count.total}}</h3>
            <h6 class="text-primary">Leads Total</h6>
          </div>
          <!-- <div class="col-md-2 col-xs-6 border-right">
            <h3>{{countdata.open}}</h3>
            <h6 class="text-secondary">Leads Open</h6>
          </div> -->
          <div class="col-md-2 col-xs-6 border-right">
            <h3>{{count.won}}</h3>
            <h6 class="text-success">Leads Won</h6>
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <h3>{{count.lost}}</h3>
            <h6 class="text-danger">Leads Lost</h6>
          </div>


        </div>
      </app-card>
    </div>   

     <div class="col-sm-12"  *ngIf="loading==true">
      <app-card cardTitle="Projects Summary" [options]="false">
        <div class="row">
          <div class="col-md-2 col-xs-6 border-right">
           <div class="item" style="width:40%"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
           <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>

          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <div class="item" style="width:40%"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
            <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
 
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <div class="item" style="width:40%"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
            <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
 
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <div class="item" style="width:40%"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
            <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div> 
          </div>


        </div>
      </app-card>
    </div>
    <div class="col-xl-12 col-lg-12 filter-bar invoice-list">
      <nav class="navbar m-b-30 p-10">
        <ul class="nav">
          <li class="nav-item active">
            <button class="btn btn-primary btn-sm btn-round has-ripple" (click)="filter= !filter"><i
              class="feather icon-filter"></i> Filter</button>          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link text-secondary" ngbDropdownToggle href="javascript:" id="bydate"><i class="far fa-clock"></i> By Date</a>
            <div ngbDropdownMenu aria-labelledby="bydate">
              <a class="dropdown-item" href="javascript:"  [ngClass]="{'all' : this.selectedtime=='today'}" (click)="alldata('reload')">Show all</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:" [ngClass]="{'time' : this.selectedtime=='today'}" (click)="today('reload')">Today</a>
              <a class="dropdown-item" href="javascript:" [ngClass]="{'time' : this.selectedtime=='yesterday'}" (click)="yesterday('reload')">Yesterday</a>
              <a class="dropdown-item" href="javascript:" [ngClass]="{'time' : this.selectedtime=='last7'}" (click)="last7('reload')">Last 7 days</a>
              <a class="dropdown-item" href="javascript:" [ngClass]="{'time' : this.selectedtime=='last30'}" (click)="last30('reload')">Last 30 days</a>
            
            </div>
            <style>
              .time{
               background-color: rgba(144, 223, 26, 0.527);
              }
            </style>
          </li>
          <!-- <li class="nav-item" ngbDropdown>
            <a class="nav-link text-secondary" ngbDropdownToggle href="javascript:" id="bystatus"><i class="fas fa-chart-line"></i> By Status</a>
            <div ngbDropdownMenu aria-labelledby="bystatus">
              <a class="dropdown-item" href="javascript:">Show all</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:">Open</a>
              <a class="dropdown-item" href="javascript:">On hold</a>
              <a class="dropdown-item" href="javascript:">Resolved</a>
              <a class="dropdown-item" href="javascript:">Closed</a>
              <a class="dropdown-item" href="javascript:">Dublicate</a>
              <a class="dropdown-item" href="javascript:">Wontfix</a>
            </div>
          </li> -->
          <!-- <li class="nav-item" ngbDropdown>
            <a class="nav-link text-secondary" ngbDropdownToggle href="javascript:" id="bypriority"><i class="fas fa-list-ol"></i> By Priority</a>
            <div ngbDropdownMenu aria-labelledby="bypriority">
              <a class="dropdown-item" href="javascript:">Show all</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:">Highest</a>
              <a class="dropdown-item" href="javascript:">High</a>
              <a class="dropdown-item" href="javascript:">Normal</a>
              <a class="dropdown-item" href="javascript:">Low</a>
            </div>
          </li> -->
        </ul>
        <div class="nav-item nav-grid">
          <!-- <span class="m-r-15">View Mode: </span> -->
          <!-- <button type="button" class="btn btn-primary btn-icon" (click)="ngOnInit()" [placement]="'top'" ngbTooltip="refresh">
            <i class="fas fa-sync"></i>
          </button> -->
          <!-- <button type="button" class="btn btn-primary btn-icon" [placement]="'top'" ngbTooltip="grid view">
            <i class="fas fa-fa-refresh"></i>
          </button> -->
        </div>
<div class="col-lg-12 col-md-12 row"> 
        <ng-container *ngIf="filter==1">
<br>
<br>
<br>
          <div class="col-lg-12 col-md-12">
            <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
            </ngb-datepicker>

            <ng-template #t let-date="date" let-focused="focused">
              <span class="custom-range-datepicker" [class.focused]="focused"
                [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
            <pre
              class="m-t-20">Selected Date Range: {{ parserFormatter.format(fromDate) }} to {{ parserFormatter.format(toDate) }}</pre>
<span class="badge m-r-5 badge-light-primary" (click)="today()">Today</span>
<span class="badge m-r-5 badge-light-primary" (click)="yesterday()">yesterday</span>
<span class="badge m-r-5 badge-light-primary" (click)="last7()">Last 7 days</span>
<span class="badge m-r-5 badge-light-primary" (click)="last30()">Last 30 days</span>
<button class="btn btn-primary btn btn-round has-ripple"
(click)="filterbydate(parserFormatter.format(fromDate),parserFormatter.format(toDate))"> Submit</button>

          </div>
          <!-- <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="col-sm-12 col-xl-4">
                <ng-select [ngClass]="'ng-select'" [options]="siteoptions.site" [(ngModel)]="formdata.bysites"
                  [multiple]="true"> </ng-select>
                <p class="m-t-10"> Filter By Sites.</p>
              </div>

              <div class="col-sm-12 col-xl-4" *ngIf="global.userdata.role!='agent'">
                <ng-select [ngClass]="'ng-select'" [options]="siteoptions.agents" [(ngModel)]="formdata.byagents"
                  [multiple]="true"> </ng-select>
                <p class="m-t-10"> Filter By Agents.</p>
              </div>
              <div class="col-sm-12 col-xl-4" >
                <ng-select [ngClass]="'ng-select'" [options]="siteoptions.status" [(ngModel)]="formdata.bystatus"
                  [multiple]="true"> </ng-select>
                <p class="m-t-10"> Filter By Status.</p>
              </div>
              <div class="col-sm-12 col-xl-4" *ngIf="global.userdata.role=='superadmin'">
                <ng-select [ngClass]="'ng-select'" [options]="siteoptions.team" [(ngModel)]="formdata.byteam"
                  [multiple]="true"> </ng-select>
                <p class="m-t-10"> Filter By Team.</p>
              </div>


            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <button class="btn btn-primary btn btn-round has-ripple"
              (click)="filterbydate(parserFormatter.format(fromDate),parserFormatter.format(toDate))"> Submit</button>
          </div> -->

        </ng-container>
      </div>
      </nav>
   
    </div>
  
    <div class="col-sm-12">
      <app-card [hidHeader]="true" cardClass="card-datatable">
        <div class="row align-items-center m-l-0">
          <div class="col-sm-6 text-left">
            <!-- <button class="btn btn-primary btn-sm btn-round has-ripple" (click)="filter= !filter"><i
                class="feather icon-filter"></i> Filter</button> -->
          </div>
          <div class="col-sm-6 text-right">
            <!-- <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject.show()"><i class="feather icon-plus"></i> Add Project</button> -->
          </div>
          <br>
          <br>
          <br>
          <!-- <ng-container *ngIf="filter==1">

            <div class="col-lg-6 col-md-12">
              <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
              </ngb-datepicker>

              <ng-template #t let-date="date" let-focused="focused">
                <span class="custom-range-datepicker" [class.focused]="focused"
                  [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                  [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
              <pre
                class="m-t-20">Selected Date Range: {{ parserFormatter.format(fromDate) }} to {{ parserFormatter.format(toDate) }}</pre>


            </div>
            <div class="col-lg-6 col-md-12">
              <div class="row">
                <div class="col-sm-12 col-xl-4">
                  <ng-select [ngClass]="'ng-select'" [options]="siteoptions.site" [(ngModel)]="formdata.bysites"
                    [multiple]="true"> </ng-select>
                  <p class="m-t-10"> Filter By Sites.</p>
                </div>

                <div class="col-sm-12 col-xl-4">
                  <ng-select [ngClass]="'ng-select'" [options]="siteoptions.agents" [(ngModel)]="formdata.byagents"
                    [multiple]="true"> </ng-select>
                  <p class="m-t-10"> Filter By Agents.</p>
                </div>
                <div class="col-sm-12 col-xl-4">
                  <ng-select [ngClass]="'ng-select'" [options]="siteoptions.status" [(ngModel)]="formdata.bystatus"
                    [multiple]="true"> </ng-select>
                  <p class="m-t-10"> Filter By Status.</p>
                </div>
                <div class="col-sm-12 col-xl-4">
                  <ng-select [ngClass]="'ng-select'" [options]="siteoptions.team" [(ngModel)]="formdata.byteam"
                    [multiple]="true"> </ng-select>
                  <p class="m-t-10"> Filter By Team.</p>
                </div>


              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <button class="btn btn-primary btn btn-round has-ripple"
                (click)="filterbydate(parserFormatter.format(fromDate),parserFormatter.format(toDate))"> Submit</button>
            </div>

          </ng-container> -->




          <!-- <app-ui-modal #modalProject>
            <div class="app-modal-header">
              <h5 class="modal-title">Add Project</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="app-modal-body">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Public</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Billable</label>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="Subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="Rate" placeholder="Hourly Rate">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group fill">
                    <input type="date" class="form-control" id="Start" placeholder="Start Date">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group fill">
                    <input type="date" class="form-control" id="Deadline" placeholder="Due Date">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <select class="form-control" id="Billing">
                      <option value="">Select Billing Type</option>
                      <option value="1">Low</option>
                      <option value="2">Medium</option>
                      <option value="3">High</option>
                      <option value="4">Urgent</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <select class="form-control" id="Status">
                      <option value="">Select Status</option>
                      <option value="1-week">Week</option>
                      <option value="2-week">2 Weeks</option>
                      <option value="1-month">1 Month</option>
                      <option value="2-month">2 Months</option>
                      <option value="3-month">3 Months</option>
                      <option value="6-month">6 Months</option>
                      <option value="1-year">1 Year</option>
                      <option value="custom">Custom</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" id="Related">
                  <option value="">Select Related To</option>
                  <option value="project">Project</option>
                  <option value="invoice">Invoice </option>
                  <option value="customer">Customer </option>
                  <option value="estimate">Estimate </option>
                  <option value="contract">Contract </option>
                  <option value="ticket">Ticket </option>
                  <option value="expense">Expense </option>
                  <option value="lead">Lead </option>
                  <option value="proposal">Proposal </option>
                </select>
              </div>
              <div class="form-group">
                <tag-input class="tag-chips" [(ngModel)]="items" [modelAsStrings]="true"></tag-input>
              </div>
              <div class="form-group">
                <label class="label">Description</label>
                <app-tinymce [(ngModel)]='basicContent' #tinymce='tinymce'></app-tinymce>
              </div>
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalProject.hide()">Clear</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </app-ui-modal> -->
          <app-ui-modal #modalProjectt>
            <div class="app-modal-header">
              <h5 class="modal-title text-center">Assign a Lead</h5>
              <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                (click)="modalProjectt.hide()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="app-modal-body">
              <div class="custom-control custom-switch">
                <div class="col sm-12">
                  <div class="dropdown-secondary m-r-12" ngbDropdown [placement]="'bottom-left'"
                    style="background-color:#9ccc65; font-weight: 700; border-radius:10%;">
                    <!-- <ng-select [ngClass]="'ng-select'" [options]="options"   [placeholder]="'sdjsdhhdsjhd'"    [(ngModel)]="selectedOption"  (change)="assign(x.id,x.assignedto)" > </ng-select> -->
                    <ng-select [ngClass]="'ng-select'" [options]="siteoptions.agents"
                      [(ngModel)]="selectedlead.assignedto"
                      (ngModelChange)="assignlead(selectedlead.id,selectedlead.assignedto)">
                      <ng-template #optionTemplate let-option="option">
                        <div class="famfamfam-flags {{option?.value.toLowerCase()}}"></div>
                        {{option?.label}}
                      </ng-template>

                    </ng-select>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="app-modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalProject.hide()">Clear</button>
                <button type="button" class="btn btn-primary">Submit</button>
              </div> -->
          </app-ui-modal>
        </div>
        <div class="row">

          <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="table-responsive " style="min-height: 400px !important; overflow-y: visible;">


              <table *ngIf="loading==false" [dtOptions]="dtExportButtonOptions" datatable id="report-table"
                class="table table-bordered table-striped">
                <thead>
                  <tr style="text-align: center;">
                    <!-- <td  class="no-sort" (click)="selectall()"><input type="checkbox" [(ngModel)]="all"></td> -->
                    <th>Case Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Edit Status</th>
                    <!-- <th *ngIf="global.userdata.role!='agent'">Assigned to</th> -->
                    <!-- <th>Last Updated</th> -->

                  </tr>
                </thead>
               
                <tbody *ngIf="tabledata!='null'">
                  <tr *ngFor="let x of tabledata; let i = index;" style="text-align: center;">
                    <!-- <td *ngIf="global.userdata.role!='agent'" (click)="selectit(i,$event)"><input type="checkbox" [(ngModel)]="selected[i]"></td> -->
                    <td>{{x.id}}</td>
                    <!-- <td><a >{{x.name}}</a>
                <p class="mb-2">#5 - THEIR eyes bright and eager with many a.</p>
                <small class="d-block">
                  <a href="javascript:">Start Timer</a> |
                  <a href="javascript:">Edit</a> |
                  <a href="javascript:" class="text-danger">Delete </a>
                </small>
              </td> -->
                    <td>
                      <h6 class="mb-1">{{x.name}}</h6>
                      <!-- <p class="m-0">Applied on <span class="text-c-green">{{x.leadfrom}}</span></p>
                      <p>at {{x.application_time |  date:'medium' }}</p> -->
                    </td>
                    <td>
                      {{x.amount}}
                    </td>
                    <td>{{x.mobile}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.timestamp.substr(0, 10)}}</td>
                    <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green" (click)="openupdate(i);" ngbTooltip="Edit the  banner"></i></a></td>
                    <!-- <td><span class="badge badge-danger inline-block" *ngIf="x.status=='Unassigned'">Unassigned</span>
                      <span class="badge badge-warning inline-block" *ngIf="x.status=='Pending'">Pending</span>
                      <span class="badge badge-primary inline-block" *ngIf="x.status=='Voice Mail'">Voice Mail</span>
                      <span class="badge badge-warning inline-block" *ngIf="x.status=='Not At Computer'">Not At
                        Computer</span>
                      <span class="badge badge-primary inline-block" *ngIf="x.status=='Open'">Open</span>
                      <span class="badge badge-danger inline-block" *ngIf="x.status=='Case Lost'">Case Closed</span>
                      <span class="badge badge-warning inline-block" *ngIf="x.status=='Follow Up'">Follow Up</span>
                      <span class="badge badge-success inline-block" *ngIf="x.status=='Complete'">Complete</span>
                      <span class="badge badge-success inline-block" *ngIf="x.status=='Won'">Own</span>
                    <br> 
                    updated on : <br> {{x.time |  date:'medium'}}
                  </td> -->
                    <!-- <td    class="text-wrap" (click)="stop($event); selectedlead=x; modalProjectt.show()">
                      <span class="badge badge-success inline-block">{{x.name1}}</span></td> -->
                    
                    <!-- <td>{{x.time |  date:'medium'}}</td> -->



                  </tr>







                </tbody>
              </table> 
              <table *ngIf="loading!=false" [dtOptions]="dtExportButtonOptions" datatable id="report-table"
                class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td *ngIf="global.userdata.role!='agent'" class="no-sort" (click)="selectall()"><input type="checkbox" [(ngModel)]="all"></td>
                    <th>Case Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <!-- <th *ngIf="global.userdata.role!='agent'">Assigned to</th> -->
                    <!-- <th>Last Updated</th> -->

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of [0,1,2,3,4,5,6,7]; let i = index;" >
                    <td *ngIf="global.userdata.role!='agent'"><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>             </td>
                    <td>            <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>                    </td>
                    <!-- <td><a >{{x.name}}</a>
                <p class="mb-2">#5 - THEIR eyes bright and eager with many a.</p>
                <small class="d-block">
                  <a href="javascript:">Start Timer</a> |
                  <a href="javascript:">Edit</a> |
                  <a href="javascript:" class="text-danger">Delete </a>
                </small>
              </td> -->
                    <td>
                      <h6 class="mb-1">           <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>                      </h6>
                      <p class="m-0"><span class="text-c-green">            <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
                      </span></p>
                      <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>

                    </td>
                    <td>
                      <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>

                    </td>
                    <td>            <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
                    </td>
                    <td><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
                    <br> 
                    <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>

                  </td>
                    <td  *ngIf="global.userdata.role!='agent'" class="text-wrap" >
                      <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
                      <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>
                    </td>
                    
                    <!-- <td>{{x.time |  date:'medium'}}</td> -->



                  </tr>







                </tbody>
              </table>
            </div>
          </div>
          <app-ui-modal #modalProject>
          <div class="app-modal-header"  *ngIf="type=='update'">
            <h5 class="modal-title">Update Lead Details</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
   <div class="app-modal-body" *ngIf="type=='update'">
  
    <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="lendername"> Name </label> 
            <input class="form-control input-md" id="text" name="lendername" type="text" placeholder="Enter Name" [ngClass]="{'is-invalid': !lendername.valid && ( lendername.touched || isSubmit)}" #lendername="ngModel" required lendername [(ngModel)]="formInput2.lendername">
            <label *ngIf="!lendername.valid && ( lendername.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the name.</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="loanamount">Loan Amount </label> 
            <input class="form-control input-md" id="text" name="loanamount" type="number" placeholder="Enter Loan Amount" [ngClass]="{'is-invalid': !loanamount.valid && ( loanamount.touched || isSubmit)}" #loanamount="ngModel" required loanamount [(ngModel)]="formInput2.loanamount">
            <label *ngIf="!loanamount.valid && ( loanamount.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the loan Amount.</label>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="phone">Phone Number </label> 
            <input class="form-control input-md" id="phone" name="phone" type="number" placeholder="Enter Phone Number" [ngClass]="{'is-invalid': !phone.valid && ( phone.touched || isSubmit)}" #phone="ngModel" required interest [(ngModel)]="formInput2.phone">
            <label *ngIf="!phone.valid && ( phone.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Phone Number.</label>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" for="status">Status </label> 
            <select class="form-control" #status="ngModel"  [(ngModel)]="formInput2.status" id="status" name="status">

              <option value="Processing" selected>Processing</option>
              <option value="Won">Won</option>
              <option value="Lost">Lost</option>
            </select>    
            <label *ngIf="!status.valid && (status.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Status Range..</label>
          </div>
        </div> 
         <!-- <div class="col-md-6">
          <div class="form-group">#status="ngModel" 
            <label class="form-control-label" for="pid">Position id </label> 
            <input class="form-control input-md" id="text" name="pid" type="text" placeholder="Enter position id" [ngClass]="{'is-invalid': !pid.valid && (pid.dirty || pid.touched || isSubmit)}" #pid="ngModel" required pid [(ngModel)]="formInput2.pid">
            <label *ngIf="!pid.valid && (pid.dirty || pid.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the position id.</label>
          </div>
        </div>   -->
         <!-- <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-label" for="link">Url</label> 
            <input class="form-control input-md" id="text" name="link" type="text" placeholder="Enter thr URL" [ngClass]="{'is-invalid': !link.valid && (link.dirty || link.touched || isSubmit)}" #link="ngModel" required link [(ngModel)]="formInput2.link">
            <label *ngIf="!link.valid && (link.dirty || link.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the url.</label>
          </div>
        </div>    -->
     
                          <!-- <div class="col-md-12">
          <div class="form-group">
            <!-- <file-upload simple [control]="fileUploadControl"  [(ngModel)]="uploadedFiles" formControlName="files"></file-upload>
            <file-upload accept="image/*" [(ngModel)]="uploadedFiles2" name="files" simple></file-upload>

          </div>
        </div>-->  
      </div> 
      <!-- <div class="form-group text-center">
        <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
      </div> -->
      <hr>
      <div class="row align-items-center m-l-0" >
        <div class="col-sm-6 text-left">
         
                    </div>
        <div class="col-sm-6 text-right">
          <div class="custom-control custom-switch">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised"  [disabled]="buttonloading"  (click)="updatelender(validationForm)"> Update  <span style="margin-left:10px;"><i class="feather icon-plus"></i></span></button>
  
          </div>
        </div>
      </div>
  </form>
           <!--  Update modal end  -->

 
  </div>
</app-ui-modal>
          <!-- <div class="col-xl-3 col-lg-3 col-sm-6" *ngIf="global.userdata.role!='agent'">
            <div class="table-responsive " style="min-height: 400px !important; overflow-y: visible;">


              <table *ngIf="optionsloaded==false" [dtOptions]="tableoptions" datatable id="report-table"
                class="table table-bordered table-striped">

                <thead>
                  <tr>

                    <th>Agents</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of data.agents; let i = index;">

                    <td>
                      <div class="media">
                        <div class="media-left media-middle mr-3">
                          <a href="javascript:">
                            <img class="img-radius" style="height:40px;" src="assets/images/user/avatar-5.jpg"
                              alt="chat-user">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>{{x.username}} &nbsp;
                          </h6>
                            
                          <p>
                            <span class="badge m-r-5 badge-light-primary">P <span
                                class="badge badge-light">{{x.pending}}</span> </span>
                            <span class="badge m-r-5 badge-light-success">W <span class="badge badge-light">{{x.own}}</span>
                            </span>
                            <span class="badge m-r-5 badge-light-info">A <span
                                class="badge badge-light">{{x.attended}}</span> </span>
                          </p>
                          
                          <!-- <span (click)="assignmultiple(x.id)" class="badge m-r-5 badge-primary">Assign <span class="badge badge-light">{{newselected.length}}</span> </span> 

                        </div>
                        <div>
                            <label _ngcontent-qkk-c127="" class="badge badge-light-success float-right" *ngIf="x.last_active=='active'">{{x.last_active}}</label>
                            <label _ngcontent-qkk-c127="" class="badge badge-light-warning float-right" *ngIf="x.last_active!='active'&&x.last_active!='away'">{{x.last_active}}</label>
                            <label _ngcontent-qkk-c127="" class="badge badge-light-danger float-right" *ngIf="x.last_active=='away'">{{x.last_active}}</label> 
                            <br>
                          <span *ngIf="newselected.length >0" (click)="assignmultiple(x.id)"
                            class="badge m-r-5 badge-primary">Assign <span
                              class="badge badge-light">{{newselected.length}}</span> </span>

                        </div>
                      </div>
                    </td>




                  </tr>







                </tbody>
              </table>
            </div>
          </div> -->
          <div class="col-xl-3 col-lg-3 col-sm-6" *ngIf="0">
            <app-card cardTitle="Agents" blockClass="user-box assign-user" [options]="false">
              <div class="input-group mb-3">
                <input type="text" class="form-control add_task_todo" [(ngModel)]="searchstring"
                  (ngModelChange)="search()" placeholder="Search here..." required="">

              </div>
              <div class="media" *ngFor="let x of data.agents">
                <div class="media-left media-middle mr-3">
                  <a href="javascript:">
                    <img class="img-radius" src="assets/images/user/avatar-5.jpg" alt="chat-user">
                  </a>
                </div>
                <div class="media-body">
                  <h6>{{x.username}}</h6>
                  <p>
                    <span class="badge m-r-5 badge-secondary">P <span class="badge badge-light">{{x.pending}}</span>
                    </span>
                    <span class="badge m-r-5 badge-success">W <span class="badge badge-light">{{x.own}}</span> </span>
                    <span class="badge m-r-5 badge-primary">A <span class="badge badge-light">{{x.attended}}</span>
                    </span>
                  </p>
                  <!-- <span (click)="assignmultiple(x.id)" class="badge m-r-5 badge-primary">Assign <span class="badge badge-light">{{newselected.length}}</span> </span> -->

                </div>
                <div>
                  <span *ngIf="newselected.length >0" (click)="assignmultiple(x.id)"
                    class="badge m-r-5 badge-primary">Assign <span
                      class="badge badge-light">{{newselected.length}}</span> </span>

                </div>
              </div>


            </app-card>





          </div>
        </div>

      </app-card>
    </div>
  </div>
</ng-container>
<ng2-toasty [position]="global.position"></ng2-toasty>
