<div class="row" style="margin-top:-5%;">

  <div class="col-sm-4" *ngIf="loading==false">
    <app-card cardTitle="Customer details" style="overflow:visible;">
      <form #validationForm="ngForm" class="editForm" novalidate style="overflow:visible;">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="fullname">Full Name </label>
              <input class="form-control input-md" id="fullname" name="fullname" type="text" placeholder="Enter name"
                value="{{data.name}}"
                [ngClass]="{'is-invalid': !fullname.valid && (fullname.dirty || fullname.touched || isSubmit)}"
                #fullname="ngModel" required name [(ngModel)]="data.name">
              <label *ngIf="!fullname.valid && (fullname.dirty || fullname.touched || isSubmit)"
                id="validation-email-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid
                name.</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="email">Email</label>
              <input class="form-control input-md" id="email" name="email" type="text" placeholder="Enter Email"
                [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel"
                required email [(ngModel)]="data.email">
              <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-email-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email
                address.</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="mobile">Mobile number</label>
              <input class="form-control input-md" id="email" name="mobile" type="text" placeholder="Enter mobile"
                [ngClass]="{'is-invalid': !mobile.valid && (mobile.dirty || mobile.touched || isSubmit)}"
                #mobile="ngModel" required mobile [(ngModel)]="data.mobile">
              <label *ngIf="!email.valid && (mobile.dirty || mobile.touched || isSubmit)" id="validation-email-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid
                mobile.</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">Loan type</label>
              <select class="form-control" name="validatiouyu" [(ngModel)]="data.loan_type">
                <optgroup label="Unsecured">
                  <option value="Unsecuredloan">Secured Personal Loan</option>
                  <option value="creditcard">Unsecured credit card</option>

                </optgroup>

              </select>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="form-label">Amount</label>
              <select class="form-control" name="validation-cmbjhjhjGear"
                [ngClass]="{'is-invalid': !amount.valid && (amount.dirty || amount.touched || isSubmit)}"
                #amount="ngModel" required [(ngModel)]="data.amount">
                <option value="200">$ 200</option>
                <option value="300">$ 300</option>
                <option value="400">$ 400</option>
                <option value="500">$ 500</option>
                <option value="1000">$ 1000</option>
                <option value="2000">$ 2000</option>
                <option value="3000">$ 5000</option>

                <option value="3000 to 5000">$ 8000</option>
                <option value="5000 to 10000">$ 10000</option>

                <option value="Above 50000">Above $10000</option>


              </select>
              <label *ngIf="!amount.valid && (amount.dirty || amount.touched || isSubmit)" id="validation-cmbGear-error"
                class="error jquery-validation-error small form-text invalid-feedback">Please select valid
                amount.</label>
            </div>
          </div>


        </div>
        <!-- <div class="form-group text-center">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
          </div> -->
        <hr>
        <div class="row align-items-center m-l-0">
          <div class="col-sm-6 text-left">

          </div>
          <div class="col-sm-6 text-right">
            <div class="custom-control custom-switch">
              <button type="button" uiSref="work" class="btn btn-primary btn-raised" (click)="update(validationForm)">
                Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>

            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>

  <div class="col-xl-4 col-md-12">
    <app-card cardTitle="History" cardClass="task-card">
      <div style="height:410px !important; overflow-y:scroll">
        <ul class="p-t-20 list-unstyled task-list">

          <style>
            /* width */
            ::-webkit-scrollbar {
              width: 2px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
              background: #f1f1f1;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
              background: #888;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
              background: #555;

            }

          </style>
          <li *ngFor="let x of comments">
            <i class="feather icon-check f-w-600 task-icon bg-c-green"></i>
            <p class="m-b-5">{{x.time}} <span class="text-c-blue">{{x.timestamp}}</span></p>
            <h6 class="text-muted">{{x.comment}}<span class="text-c-blue"> By {{x.name}}</span> </h6>
          </li>
          <li id="last">


          </li>


        </ul>

      </div>
      <hr>
      <div class="input-group mb-3">
        <!-- <input type="text" class="form-control add_task_todo" placeholder="Search here..." required=""> -->
        <textarea type="text" class="form-control add_task_todo" rows="3" name="comment"
          [(ngModel)]="addcomments.comment"></textarea>
        <div class="input-group-append">
          <button class="btn btn btn-msg-send" (click)="addagent(addcomments.comment)" type="button"><i
              class="fas fa-paper-plane " style="zoom: 2; color:#9ccc65"></i></button>
        </div>
      </div>
      <!-- <div class="row align-items-center m-l-0">
      <div class="col-sm-9 text-left">
          <textarea class="form-control"  style="background-color: rgba(212, 230, 212, 0.336);" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="col-sm-3 text-right">
        <div class="custom-control custom-switch">
          <button type="button" class="btn  btn-icon btn-outline-success"><i class="feather icon-arrow-right"></i></button>

        </div>
      </div>
    </div> -->
    </app-card>
  </div>

  <div class="col-sm-4">
    <div _ngcontent-cvs-c93="" class="card ng-tns-c93-13 ng-trigger ng-trigger-cardRemove" style="opacity: 1;">
      <!---->
      <div _ngcontent-cvs-c93="" class="card-body ng-tns-c93-13 ng-star-inserted" style="">
        <h5 _ngcontent-cvs-c120="" class="mb-3 ng-tns-c93-13">Case ID</h5>
        <h2 _ngcontent-cvs-c120="" class="ng-tns-c93-13">{{data.caseid}}<span _ngcontent-cvs-c120=""
            class="text-muted m-l-10 f-14"></span></h2>
        <div _ngcontent-cvs-c120="" class="row ng-tns-c93-13">
          <div _ngcontent-cvs-c120="" class="col col-6">
            <div _ngcontent-cvs-c120="" class="map-area">
              <p _ngcontent-cvs-c120="" class="text-muted m-0">Date</p>
              <h6 _ngcontent-cvs-c120="" class="m-0"> {{data.application_time |  date: 'MMM d, yy'}}<span
                  _ngcontent-cvs-c120=""> {{data.application_time |  date: ' h:mm a'}}</span></h6>

            </div>
          </div>
          <div _ngcontent-cvs-c120="" class="col col-6">
            <div _ngcontent-cvs-c120="" class="map-area">
              <p _ngcontent-cvs-c120="" class="text-muted m-0">Site</p>
              <h6 _ngcontent-cvs-c120="" class="m-0">{{data.leadfrom}} <span _ngcontent-cvs-c120=""></span></h6>

            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4 text-center" style="margin-left:35%" *ngIf="data.status=='Won'">
            <button _ngcontent-cvs-c122="" class="btn btn-success btn-sm btn-round ng-tns-c93-705">Case Won</button>
          </div>
          <div class="col-sm-4 text-left" *ngIf="data.status!='Won'">
            <h5 class="mb-3">Case status</h5>

          </div>
          <div class="col-sm-8 " *ngIf="data.status!='Won'">
            <div class="custom-control custom-switch">

              <div class="dropdown-secondary" ngbDropdown [placement]="'bottom-left'"
                style="background-color:#4b84c5; font-weight: 700; border-radius:10%;">
                <!-- <ng-select [ngClass]="'ng-select'" [options]="options"   [placeholder]="'sdjsdhhdsjhd'"    [(ngModel)]="selectedOption"  (change)="assign(x.id,x.assignedto)" > </ng-select> -->
                <ng-select [ngClass]="'ng-select'" [options]="siteoptions.status" [(ngModel)]="data.status"
                  (ngModelChange)="updatestatus()"> </ng-select>

              </div>

            </div>
          </div>


        </div>
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
    </div>


    <div _ngcontent-cvs-c129="" class="marge-card mb-3" *ngIf="data.bannerimage">
       <div _ngcontent-cvs-c93="" class="card ng-tns-c93-723 ng-trigger ng-trigger-cardRemove mb-0"
          style="opacity: 1;">
          <!---->
          <div _ngcontent-cvs-c93="" class="card-body ng-tns-c93-723 p-0 ng-star-inserted" style=""><img
              _ngcontent-cvs-c129="" src="http://54.183.80.176/onlinespeedyloan/{{data.bannerimage}}" alt="Card image cap"
              class="card-img-top ng-tns-c93-723"></div>
          <!---->
          <!---->
          <!---->
          <!---->
        </div>
      
        <div _ngcontent-cvs-c93="" class="card ng-tns-c93-724 ng-trigger ng-trigger-cardRemove" style="opacity: 1;">
          <!---->
          <div _ngcontent-cvs-c93="" class="card-body ng-tns-c93-724 m-t-15 ng-star-inserted" style="">
            <h5 _ngcontent-cvs-c129="" class="card-title ng-tns-c93-724">{{data.bannername}}</h5>

          </div>
          <!---->
          <!---->
          <!---->
          <!---->
        </div>
      </div>

    <app-card [hidHeader]="true" cardClass="statustic-progress-card"
      *ngIf="global.userdata.role!='agent'&& data.status!='Won'">
      <div class="row ">
        <div class="col-sm-4 text-left">
          <h5 class="mb-3">Assigned To</h5>

        </div>
        <div class="col-sm-8 ">
          <div class="custom-control custom-switch">

            <div class="dropdown-secondary" ngbDropdown [placement]="'bottom-left'"
              style="background-color:#9ccc65; font-weight: 700; border-radius:10%;">
              <!-- <ng-select [ngClass]="'ng-select'" [options]="options"   [placeholder]="'sdjsdhhdsjhd'"    [(ngModel)]="selectedOption"  (change)="assign(x.id,x.assignedto)" > </ng-select> -->
              <ng-select [ngClass]="'ng-select'" [options]="siteoptions.agents" [placeholder]="'Assign now'"
                [(ngModel)]="selectedlead.assignedto"
                (ngModelChange)="assignlead(selectedlead.id,selectedlead.assignedto)"> </ng-select>

            </div>
          </div>

        </div>
      </div>

      <div class="row align-items-center">
        <div class="col">
          Assigned By : <label class="badge badge-light-success">{{data.assignedbyname}}</label>
        </div>

      </div>
      <!-- <div class="m-t-2">
        <ngb-progressbar type="success" [value]="35"></ngb-progressbar>
      </div> -->
    </app-card>
    <app-card [hidHeader]="true" cardClass="statustic-progress-card"
      *ngIf="global.userdata.role!='agent'&& data.status=='Complete'">
      <div class="row ">
        <div class="col-sm-4 text-left">
          <h5 class="mb-3">Mark As Won</h5>

        </div>
        <div class="col-sm-8 ">
          <div class="custom-control custom-switch">

            <div class="dropdown-secondary" ngbDropdown [placement]="'bottom-left'"
              style="background-color:#23c90e; font-weight: 700; border-radius:10%;">
              <!-- <ng-select [ngClass]="'ng-select'" [options]="options"   [placeholder]="'sdjsdhhdsjhd'"    [(ngModel)]="selectedOption"  (change)="assign(x.id,x.assignedto)" > </ng-select> -->
              <ng-select [ngClass]="'ng-select'" [options]="siteoptions.banner" [placeholder]="'Banner'"
                [(ngModel)]="selectedlead.banner"> </ng-select>

            </div>
          </div>

        </div>

      </div>

      <div class="row align-items-right">
        <div class="custom-control custom-switch" style="margin-left:50%;">
          <button type="button" uiSref="work" class="btn btn-success btn-raised"
            (click)="complete(selectedlead.banner)">
            Update <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>

        </div>

      </div>
      <!-- <div class="m-t-2">
        <ngb-progressbar type="success" [value]="35"></ngb-progressbar>
      </div> -->
    </app-card>

  </div>
</div>
<ng2-toasty [position]="global.position"></ng2-toasty>
