<div class="row"> 

  <!-- navbar start -->

  <div class="col-xl-12 col-lg-12 filter-bar invoice-list">
   
 
  </div>
  <ng-container *ngIf="loading==false">
  <!-- leads start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Leads Total</h6>
      <h2 class="text-white">{{count.total}}</h2>
      <!-- <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10"></i></p> -->
      <i class="card-icon feather icon-users"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Leads Won</h6>
      <h2 class="text-white">{{count.won}}</h2>
      <!-- <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-down"></i></p> -->
      <i class="card-icon feather icon-user-plus"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card">
      <h6 class="text-white">leads Lost</h6>
      <h2 class="text-white">{{count.lost}}</h2>
      <!-- <p class="m-b-0">$5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-up"></i></p> -->
      <i class="card-icon feather icon-user-minus"></i>
    </app-card>
  </div>
  <!-- leads end -->
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable">
    <div class="table-responsive" *ngIf="!loading">
          <table datatable  id="report-table"  [dtOptions]="dtExportButtonOptions" class="table table-bordered table-striped">
            <thead style="text-align: center;">
            <tr>
              <th>#</th>
              <!-- <th>Agent Id</th> -->
              <th>Name</th>
              
              <th>Amount</th>
              
              
             
              <th>Phone</th>
              <th>Status</th>
              <th>Date</th>
              
              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let x of tabledata;" style="text-align: center;" >
            <td >{{x.id}}</td>
            <!-- <td>{{x.agentid}}</td> -->
            <td>{{x.name}}</td>
           
              <td>{{x.amount}} </td>
              
            <td>{{x.mobile}}
              
                
                  <td>{{x.status}}</td>
                  <td>
                    {{x.timestamp.substr(0, 10)}}
                    </td>
              

            </tr>
 

      


   
          
            </tbody>
          </table>
        </div>
    </app-card></div>
 </ng-container> 
  <ng-container *ngIf="loading==true">
  <!-- leads start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c order-card">
      <h6 class="text-white"> <div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>       </h6>
      <h2 class="text-white"><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>       </h2>
      <!-- <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10"></i></p> -->
      <i class="card-icon feather icon-users"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c- order-card">
      <h6 class="text-white"><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>       </h6>
      <h2 class="text-white"><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>       </h2>
      <!-- <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-down"></i></p> -->
      <i class="card-icon feather icon-user-plus"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c order-card">
      <h6 class="text-white"><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>       </h6>
      <h2 class="text-white"><div class="item"><ngx-skeleton-loader count="1" > </ngx-skeleton-loader></div>       </h2>
      <!-- <p class="m-b-0">$5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-up"></i></p> -->
      <i class="card-icon feather icon-user-minus"></i>
    </app-card>
  </div>
  <!-- leads end -->
 </ng-container>
<div class="col-md-12" *ngIf="loading==true">
  <app-card [options]="false">
    <div class="item"><ngx-skeleton-loader style="height:400px" count="10" > </ngx-skeleton-loader></div>       
  </app-card>
</div>
<!-- <div class="col-md-12" *ngIf="loading==true">
  <app-card [options]="false">
    <div class="item"><ngx-skeleton-loader style="height:400px" count="10" > </ngx-skeleton-loader></div>       
  </app-card>
</div> -->

<div class="col-md-12" *ngIf="loading==false">
  <app-card cardTitle="By Leads" [options]="false">
    <app-apex-chart chartID="bar-chart-1-cac" [chartConfig]="bar"></app-apex-chart>
  </app-card>
</div>

<!-- <div class="col-md-6" *ngIf="loading==false">
  <app-card cardTitle="By teams" [options]="false">
    <app-apex-chart chartID="bar-chart-1-csxdsac" [chartConfig]="teambar"></app-apex-chart>
  </app-card>
</div> -->

<!-- <div class="col-md-6">
  <app-card cardTitle="By sites" [options]="false">
    <app-apex-chart chartID="area-chart-1-cac" [chartConfig]="area"></app-apex-chart>
  </app-card>
</div> -->

</div>
